<div class="red">

    <p>Red: {{data.red}}</p>
    <p>{{hello}}</p>

    <p class="bg-danger">Bacon ipsum dolor amet pork chop biltong shankle sed, pancetta magna qui shoulder consequat. Tempor pastrami short ribs, cow deserunt nulla pariatur t-bone ut occaecat. Bacon dolore tail fugiat pariatur est beef ribs sirloin brisket cupidatat. Pancetta consequat pork belly andouille. Sint boudin officia in, salami cupidatat bresaola ea meatball. Ex mollit turducken duis corned beef sausage pork belly salami consectetur tri-tip aliquip short loin velit adipisicing. Alcatra shank laborum, qui id proident ground round pancetta ut velit occaecat drumstick excepteur corned beef ipsum.

        <br /><br />Cupim ea pork belly frankfurter strip steak proident short ribs cillum tail irure anim t-bone eu non voluptate. Landjaeger pancetta pig, enim turkey swine aliqua pork loin. Drumstick proident jerky incididunt. In occaecat swine proident sunt doner commodo tail incididunt. Doner andouille cupidatat magna id pork chop sed anim commodo meatball pariatur in officia elit quis. Picanha velit cupim ut pancetta.

        <br /><br />Minim laboris est ground round drumstick irure tempor jerky tri-tip. Mollit ham porchetta, cow turkey pariatur tail. Corned beef ipsum enim cillum frankfurter duis occaecat pastrami, doner spare ribs short ribs porchetta anim sunt hamburger. Rump cow exercitation, bacon tail salami occaecat est irure doner pork chop. Nostrud tongue dolore, ham hock ullamco brisket pork chop shank alcatra dolore hamburger porchetta. Qui pork belly esse hamburger, eu turducken spare ribs fugiat leberkas tongue bresaola. Bresaola alcatra ribeye pork corned beef flank.

        Landjaeger leberkas sunt non chuck pork ex ut. Brisket voluptate duis, proident drumstick sed esse velit flank spare ribs reprehenderit short loin ex jowl. Chuck mollit prosciutto jerky, dolore aliqua pork boudin. Elit porchetta exercitation beef ribs biltong chuck ullamco ex cupim landjaeger tongue salami.

        Tenderloin doner capicola incididunt sausage, eiusmod turkey. Elit aliquip tri-tip cow spare ribs. Boudin short loin voluptate fatback beef officia cupidatat tri-tip id eiusmod duis. Exercitation boudin frankfurter, rump dolore ribeye do doner culpa. Ground round mollit exercitation kevin cow, venison pork loin nisi laboris. Ground round minim eiusmod landjaeger irure ipsum ea mollit occaecat shoulder adipisicing cillum cow veniam. Shoulder bresaola rump tongue tempor.</p>

</div>